
main {
  text-align: center;
  border: 1px dotted red;
}

.inputfield {
  text-align: center;
}

.done {
  text-decoration: line-through;
}

.delete {
  margin-left: 4px;
  position: relative;
  bottom: 2px;
  font-size: 12px;
  background-color: red;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  transition: all 0.4s;
}

.delete:hover {
  color: red;
  background-color: white;
}

li {
  cursor: pointer;
  font-size: 1.5em;
}

#list {
  list-style-type: none;
}
